@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 24%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 24%;

    --primary: 44 93% 68%;
    --primary-foreground: 0 0% 24%;

    --secondary: 40 50% 79%;
    --secondary-foreground: 0 0% 24%;

    --muted: 40 50% 79%;
    --muted-foreground: 0 0% 45%;

    --accent: 40 45% 51%;
    --accent-foreground: 0 0% 100%;

    --success: 44 93% 68%;
    --success-foreground: 0 0% 24%;

    --warning: 45 88% 78%;
    --warning-foreground: 0 0% 24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 40 45% 51%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 24%;
    --foreground: 0 0% 100%;

    --card: 0 0% 24%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 24%;
    --popover-foreground: 0 0% 100%;

    --primary: 44 93% 68%;
    --primary-foreground: 0 0% 24%;

    --secondary: 40 50% 79%;
    --secondary-foreground: 0 0% 24%;

    --muted: 0 0% 35%;
    --muted-foreground: 0 0% 70%;

    --accent: 40 45% 51%;
    --accent-foreground: 0 0% 100%;

    --success: 44 93% 68%;
    --success-foreground: 0 0% 24%;

    --warning: 45 88% 78%;
    --warning-foreground: 0 0% 24%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 35%;
    --input: 0 0% 35%;
    --ring: 40 45% 51%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}
